* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 15%,
        #d9dbd6 15%,
        #d9dbd6 100%
    );
    font-family: 'Yantramanav', sans-serif;
}

* p {
    font-size: 16px;
}

/* UTILITIES */
/* flex utilities */
.p-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}


/* position uti */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* style uti */
.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

/* APP BOX */
#app {
    background-color: whitesmoke;
    height: 93%;
    width: 80%;
    min-width: 1024px;
}


/* SIDEBAR */
.sidebar {
    background-color: lightgray;
    flex-basis: 30%;
}

/* userbox */
.sidebar .userbox {
    height: 70px;
    background-color: #ededed;
}

.sidebar .userbox img {
    height: 55px;
    border-radius: 50%;
    margin-left: 10px;
}

.sidebar .userbox p {
    /* font-size: 15px; */
}

.sidebar .user-opt i {
    color: #919191;
    padding: 0px 10px;
    font-size: 20px;
}

.sidebar .user-opt i:last-child {
    padding-right: 25px;
}

.sidebar .user-opt i:hover {
    cursor: pointer;
}


/* notifiche */
.sidebar .notifications {
    height: 70px;
    background-color: #9de1fe;
}

.sidebar .notifications i {
    background-color: whitesmoke;
    color: #90d6f2;
    border-radius: 50%;
    margin-left: 20px;
    padding: 12px;
    font-size: 25px;
}

.sidebar .notifications p {
    padding-left: 10px;
    /* font-size: 15px; */
}

.sidebar .notifications p.styled {
    opacity: .5;
    text-decoration: underline;
}

.sidebar .notifications p.styled:hover {
    cursor: pointer;
}


/* search */
.sidebar .search-bar {
    height: 50px;
    background-color: #ededed;
    justify-content: center;
    align-items: center;
}

.sidebar .search-bar input {
    border: none;
    height: 30px;
    width: 97%;
    background-color: white;
    padding-left: 20%;
    color: #919191;
    font-family: 'Yantramanav', sans-serif;
    font-size: 12px;
    opacity: .7;
}

.sidebar .search-bar i {
    left: 40px;
    opacity: .7;
    color: #919191;
}


/* contact list */
.sidebar .contact-list {
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
}

.sidebar .contact-list .contact {
    border-bottom: 1px solid rgb(246, 246, 246);
    padding: 10px 0px;
}

.sidebar .contact-list .contact:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.sidebar .contact-list .contact:last-child {
    border: none;
}

.sidebar .contact-list img {
    height: 55px;
    margin: 0 15px 0 15px;
    border-radius: 50%;
}


/* CHAT BOX */
.chat-container {
    flex-basis: 70%; 
}

/* header */
.chat-container img {
    height: 55px;
    border-radius: 50%;
    margin-left: 10px;
}

.chat-container .header-chat {
    height: 70px;
    background-color: #ededed;
}

.chat-container .header-chat .chat-opt i {
    color: #919191;
    padding: 0px 10px;
    font-size: 20px;
}

.chat-container .header-chat .chat-opt i:last-child {
    padding-right: 30px;
}

.chat-container .header-chat .chat-opt i:hover {
    cursor: pointer;
}

/* main box */
.chat-container .main-chat {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

/* footer chat */
.chat-container .footer-chat {
    height: 70px;
}