<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <title>Boolzap by Pietro Marrazzo</title>
</head>

<body class="p-flex flex-centered">
    <!-- app container -->
    <div id="app" class="app-container p-flex">
        <!-- sidebar -->
        <div class="sidebar p-flex flex-col">
            <!-- user loged -->
            <div class="userbox p-flex space-between">
               <div class="user-info p-flex flex-centered">
                    <img v-bind:src="'./img/avatar' + user.avatar +'.jpg'" alt="avatar">
                    <p class="medium">{{user.name}}</p>
               </div>
               <div class="user-opt p-flex flex-centered">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
               </div>
            </div>
            <!-- notifications -->
            <div class="notifications p-flex align-center">
                <i class="fas fa-bell-slash"></i>
                <div>
                    <p class="medium">Ricevi notifiche dei tuoi messaggi</p>
                    <p class="styled">Attiva notifiche desktop</p>
                </div>
            </div>
            <!-- search bar -->
            <div class="search-bar p-relative p-flex" v-model="newFilter" v-on:keyup.enter="filter()">
                <input type="text" placeholder="Cerca o inizia una nuova chat">
                <i class="fas fa-search p-absolute"></i>
            </div>
            <!-- contacts list -->
            <div class="contact-list">
                <ul class="p-flex flex-col">
                    <li v-for="(friends, index) in contacts"
                        v-show="contacts.visible == true" 
                        :class="['contact p-flex align-center', index == indexChat ? 'active' : '']"
                        @click="setChat(index)">
                            <img v-bind:src="'./img/avatar' + friends.avatar + '.jpg'" alt="">
                            <p class="medium">{{friends.name}}</p>
                            <p></p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- chat box -->
        <div class="chat-container p-flex flex-col">
            <!-- chat header -->
            <div class="header-chat p-flex space-between">
                <div class="active p-flex flex-centered">
                    <!-- da rendere switchabile con vue -->
                    <img v-bind:src="'./img/avatar' + contacts[indexChat].avatar + '.jpg'" alt="avatar">
                    <div>
                        <p class="medium">{{contacts[indexChat].name}}</p>
                        <p class="medium opacity-04">Ultimo accesso oggi</p>
                    </div>

                </div>
                <div class="chat-opt p-flex flex-centered">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- mex box -->
            <div class="main-chat">
                <div v-for="(mex, index) in contacts[indexChat].messages"
                    :class="['text-line p-flex', mex.status]">
                        <div class="text-box">
                            <p>{{mex.message}}</p>
                            <p class="data p-flex flex-end">{{mex.date}}</p>
                        </div>
                </div>
            </div>
            <!-- footer chat -->
            <div class="footer-chat p-flex space-around flex-centered">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" 
                     v-model="newMessage" v-on:keyup.enter="addMessage"> 
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>

    <script src="./js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js" integrity="sha512-C2m821NxMpJ4Df47O4P/17VPqt0yiK10UmGl59/e5ynRRYiCSBvy0KHJjhp2XIjUJreuR+y3SIhVyiVilhCmcQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/locale/it.min.js" integrity="sha512-phkVsg58Vew4wUU/r26xmmcziH8AaEgdySp+pUdGUQerHGrK1jaqXCDI7/ezobI2jBqu6vMTV0CTwQrKNbEMNw==" crossorigin="anonymous"></script>
</body>
</html>